@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: "Roboto Mono", serif;
  color: var(--foreground);
  background: var(--background);
}
